<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-i">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }}</title>
    {{- $css := resources.Get "sass/main.scss" | toCSS (dict "targetPath" "css/main.css" "includePaths" "node_modules") }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" />
</head>
<body>
{{- block "main" . }}{{ end -}}
{{- $js := resources.Get "js/main.js" | js.Build }}
<script type="text/javascript" src="{{ $js.RelPermalink }}" defer></script>
</body>
</html>